.DS_Store
.*.swp
*#*
*~
.idea/
.vscode/
/.bootstrapped*
/out
.virtenv/
.python-version
.direnv
.envrc.local

# Python stuff
/dist

# Temp compilation files.
tmp_for_compilation/
tmp_out/

*.pyc
/build
/dist
/*.egg-info
.python-version
.vscode
